<div class="navbar">
     <div class="navbrand">
     <p>Coin Ninja</p>
     </div>
     <div class="search_bar">
          <form>
            <input id="search_box" type="text" name="id" placeholder="Enter Crypto Currency Name">
            <input id="btn" type="submit" value="Search">
          </form>
     </div>
</div>

<table>
    <tr>
        <th>Rank</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Market Capital</th>
        <th>Price Change in 24h</th>
        <th>Price Change in 30d</th>
        <th>Price
            <button class="price_btn">Change to $</button>
        </th>
    </tr>
</table>
